* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Arial;
}

body {
    background-color: #d0daea;
}



@media (min-width: 400px) {
    header {
        width: 100%;
        height: 143px;
        background-color: #4286f4;
    }
    
    .title {
        height: 100px;
	background-color: #fff;
    }
    
    .title__logo {
        margin: 15px;
        width: 100px;
        float: left;
    }

    .title__name {
        display: inline;
        float: left;
        margin-top: 25px;
        font-size: 35px;
        font-family: 'Oswald', sans-serif;
    }

    nav ul {
        float: right;
        margin: 10px;
    }
    
    nav ul li {
        list-style: none;
        float: left;
        margin-right: 12px;
        margin-left: 6px;
        padding-top: 3px;
    }
    
    nav ul li a {
        font-size: 16px;
        color: black;
	font-weight: bold;
    }
    
    nav ul li a:hover {
        color: #fff;
    }
    
    nav ul form {
        float: left;
    }
    
    nav ul form input {
        width: 100px;
        float: left;
        border: none;
        border-radius: 4px;
        margin-right: 10px;
        padding: 5px;
        padding-left: 4px;
    }
    
    button {
	border: none;
        border-radius: 4px;
        margin-right: 5px;
        padding: 4px;
        background-color: white;
	font-weight: bold;
    }
    
    button:hover {
        background-color: #9bc1ff;
        cursor: pointer;
    }
    
    #signup {
        text-align: center;
    }
    
    #signup input {
        width: 270px;;
        border: none;
        border-radius: 4px;
        padding: 7px;
    }
    
    #signup button {
        margin-right: 0px;
        width: 285px;
        padding: 6px;
    }
}

@media (max-width: 400px) {
    header {
        width: 100%;
        height: 45px;
        border-bottom: 1px black solid;
        background-color: #fff;
    }
    
    .title {
	position: relative;
    }
    
    .title__logo {
        margin: 9px;
        width: 40px;
        float: left;
    }
    
    .title__name {
	 display: inline;
        float: left;
        margin-top: 7px;
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
    }

    .login {
	display: none;
    }
    
    nav ul {
        float: right;
        margin: 12px;
    }

    .signup {
	display: none;
    }

    .logout {
	display: none;
    }
    
    nav ul li {
        list-style: none;
        float: left;
        margin-right: 12px;
        margin-left: 6px;
        padding-top: 2px;
    }
    
    nav ul li a {
        font-size: 16px;
        color: black;
    }
    
    nav ul li a:hover {
        color: #35ad8d;
    }
    
    nav ul form {
        float: left;
    }
    
    nav ul form input {
        width: 80px;
        float: left;
        border: 1px solid black;
        border-radius: 4px;
        margin-right: 10px;
        padding: 2px;
        padding-left: 4px;
    }
    
    button {
        border: none;
        border-radius: 4px;
        margin-right: 5px;
        padding: 1px;
        background-color: white;
    }
    
    button:hover {
        background-color: #9bc1ff;
        cursor: pointer;
    }
    
    #signup {
        text-align: center;
    }
    
    #signup input {
        width: 270px;;
        border: none;
        border-radius: 4px;
        padding: 8px;
    }
    
    #signup button {
        margin-right: 0px;
        width: 290px;
        padding: 6px;
    }
}



/* Comment Section */

.required {
    color: red;
}

textarea {
    width: 97%;
    height: 110px;
    border: #ccc 1px solid;
    border-radius: 2px;
    background-color: white;
    resize: none;
    margin: 0px;
    margin-bottom: 4px;
    padding: 3px;
}

.content {
    padding: 6px;
}

.comment-box {
    background-color: white;
    width: 95%;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 4px;
    border-radius: 2px;
    position: relative;
}

.comment-box p {
    font-weight: bold;
}

.edit-form {
    position: absolute;
    top: 0px;
    right: 0px;
}

.edit-form button {
    border: none;
}

.edit-form button:hover {
    background-color: #fff;
    color: #35ad8d;
}

.edit {
    float: left;
}